<footer class="footer mt-auto">
    <div class="row my-2 text-center">
        <div class="col social">
            <a target="_blank " rel="noopener noreferrer" href="https://instagram.com/bawdycaste "><i class="fa fa-lg fa-instagram"></i></a>
            <a target="_blank " rel="noopener noreferrer" href="https://twitter.com/bawdycaste "><i class="fa fa-lg fa-twitter"></i></a>
            <a target="_blank " rel="noopener noreferrer" href="https://facebook.com/bawdycaste "><i class="fa fa-lg fa-facebook"></i></a>
            <!-- <a target="_blank " rel="noopener noreferrer" href="https://tumblr.bawdycaste.com/ "><i class="fa fa-lg fa-tumblr"></i></a> -->
        </div>
    </div>
    <h5 class="fofbb text-center mt-3">info@bawdycaste.com<br>+1 (650) r o c k y 21</h5>
</footer>